body {
  background-color: red;
}
a:hover {
  color: orange;
}
main {
  background-color: #000000;
  border: 2px solid yellow;
  width: 500px;
  margin: auto;
}

h1 {
  color: silver;
  text-align: center;
  font-size: 3rem;
}


img {
  width: 100%;
}